# dependencies
/node_modules

# build
/dist

# types & source maps
**.d.ts
**.d.ts.map
**.map
**.js
**.js.map
**.html
**.json
**.css
**.scss

# Exclude
!webpack.config.js
!webpack.config.prod.js
!tsconfig.json

#misc
.DS_Store